.header{
    position: relative;
    // min-height: 300px;
    .main-nav{
        position: relative;
        justify-content: center;
        padding: ($base-size * 3) 0;
        z-index: 9999;
        a{
            @include button($color-light);
            transition: $transition;
            overflow: hidden;
            text-align: center;

            &::after{
                content: "";
                display: block;
                transform: translate(250%, 0);
                height: 2px;
                width: 50%;
                background-color: $color-light;
                transition: $transition;
            }
            &:hover::after{
                transform: translate(50%, 0);
            }
        }
    }
    .splash{
        margin: ($base-size * 8) 0;
        position: relative;
        height: $base-size * 20;
        z-index: 1;
        .title-wrapper{
            @include center;

            .subtitle{
                text-align: right;
                transform: translate(0 - $base-size * 2);
            }
        }
    }
}