#pathfinder{
    position: relative;
    z-index: 9999;
    height: 50vh;
    width: 50vh;
    .row{
        height: 10%;
        width: 100%;
        position: relative;
        .field{
            position: relative;
            width: 10%;
            border: 1px solid $color-light;
            cursor: pointer;

        }
        .chosen{
            background-color: $color-chosen;
        }
    }
}