#pathfinder{
    z-index: 9999;
    position: relative;
        .pathifinder_board{
        position: relative;
        z-index: 9999;
        height: 50vh;
        width: 50vh;
        margin: 0 auto;
        .row{
            height: 10%;
            width: 100%;
            position: relative;
            .field{
                position: relative;
                width: 10%;
                border: 1px solid $color-light;
                cursor: pointer;

            }
            .chosen{
                background-color: $color-chosen;
            }
            .setStart{
                background-color: $color-end;
            }
            .area{
                background-color: pink;
            }
    }
}
    .pathfinder_button{
        background-color: $color-light;
        border: $color-route;
        font-size: $base-size * 2;
        margin: 45px auto;
        padding: 5px;
        text-align: center;
        display: block;
        width: 30%;

    }
}