/* Colors */
$color-light: #ffffff;
$color-chosen: #c24E00;
$color-route: #2ECC71;
$color-end: #e74c3c;
$color-dark: #131313;

$base-size: 14px;

/* Fonts */
$font-main: 'Source Sans 3', sans-serif;

/* Mixins */
@mixin button($color-light){
    color: $color-light;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    font-size: $base-size * 2;
    margin: 0 $base-size * 5;
}

@mixin center() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
